/** @format */
/* reset code start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: cyan;
}

h1 {
  background-color: rgb(24, 22, 22);
  text-align: center;
  color: red;
  font-size: 4rem;
}
/* reset code ends */

/* post stars */
.posts {
  background-color: rgb(24, 22, 22);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  width: 30%;
  margin: 0.3rem;
  box-shadow: 0 4px 6px 0 rgb(255, 2, 2);
  padding: 1rem;
  transition: all 0.2s;
}

.post:hover {
  box-shadow: 0 8px 16px 0 rgb(255, 0, 0);
}

/* post ends */

/* responsive starts */

@media screen and(max-width:992px) {
  .post {
    width: 48%;
  }
}
@media screen and(max-width:300px) {
  .post {
    width: 100%;
  }
}

/* responsive ends */
